.card{
  background-color: hsl(216, 50%, 16%);
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius:10px;
  padding-left:20px;
  padding-right:20px;
  margin:10px;
  padding-top: 10px;
  padding-bottom:10px;
  box-sizing: border-box;
}
.card .title{
  color:hsl(0, 0%, 100%);
  margin-bottom:20px;
  margin-top:20px;
  font-size: 24px;
  font-weight: 600;
}

.card .title:hover{
  color:hsl(178, 100%, 50%);
  cursor:pointer;
}
.card .imagem{
  border-radius: 10px; 
  margin-top: 10px;
}
.imagem:hover{
  cursor: pointer;
}

.perfil{
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 14px;
}

.perfil img{
  height:40px;
  width:40px;
  padding-right: 8px;
  border-radius: 50%;
}

.perfil .color_white{
  color: hsl(0, 0%, 100%);
}

.perfil .color_white:hover{
  color: hsl(178, 100%, 50%);
}

.info{
  margin-top: 14px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.info .item{
  display: flex;
  align-items: center;
}
.item img{
  padding-right: 5px;
}
.item .color_cyan{
  color:hsl(178, 100%, 50%);
}

.color_frase{
  color:hsl(215, 51%, 70%);
}
.barra{
  height:1px;
  background-color: hsl(215, 32%, 27%);
}
a{
  text-decoration: none;
}